.article{
    width: 4/12*100;
    overflow: hidden;

    a{
        display: block;

        img{
            width: 100%;
        }
    }

    &__content{
        border-bottom: 1px solid $light-grey;
        padding: 1em;
        color: $text-color;

        &__title{
            font-size: 2em;
            color: $dark-grey;
            font-weight: 500;
        }
    }
}