.header{

    &__content{
        padding-left: 4em;
        color: #fff;

        &__title{
            border-bottom: 3px solid #fff;
            padding-bottom: 0.3em;
            padding-right: 1em;
            display: inline-block;
        }
    }
}