@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
    font-family: 'Open Sans';
}

*{
    box-sizing: border-box;
}

a{
    color: $alt-color;
    text-decoration: none;
}

ul{
    list-style-type: none;
    padding: 0;
}

hr{
    border: 1px solid $dark-grey;
    margin: 1.5em 0;
}