.intro{
    min-height: 100vh;
    background: url('../images/vue.jpg') no-repeat;
    background-size: cover;
    background-position: center bottom;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}