.navigation{

    width: 75%;
    margin: auto;

    &__item{
        margin-top: 1.5em;
    }

    a{
        color: $alt-color;
        text-transform: uppercase;
        display: block;
        padding: 0.5em 0;
        border-bottom-style: solid;
        border-image: linear-gradient(to right, $bg-color, transparentize($alt-color, 0.6)) 10;
        font-size: 0.9em;
        transition: 0.4s;
        opacity: 0.4;

        &:hover{
            opacity: 1;
        }

        &.active{
            opacity: 1;
        }
    }
}